---
name: CI

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-22.04"]
        ruby: ["3.3"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: |
          git config --global user.email hello@world.com
          git config --global user.name "John Doe"
          bundle exec rspec
