name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - feature/*
      - fix/*

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - debian:11
          - debian:12
          - debian:13
          - ubuntu:20.04
          - ubuntu:22.04
          - ubuntu:24.04
          - el:8
          - el:9
          - sles:12
          - sles:15

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Set up target
        run: |
          IFS=':' read TARGET_DIST TARGET_VERSION <<< "${{ matrix.target }}"
          echo "TARGET_DIST=$TARGET_DIST" >> $GITHUB_ENV
          echo "TARGET_VERSION=$TARGET_VERSION" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}/${{ env.TARGET_DIST }}
          tags: |
            type=raw,value=${{ env.TARGET_VERSION }}-${{ github.sha }}
            type=raw,value=${{ env.TARGET_VERSION }}-${{ github.ref_name }},enable=${{ github.ref == 'refs/heads/master' }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: images/Dockerfile.template
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            PKGR_VERSION=${{ github.sha }}
            TARGET=${{ matrix.target }}